*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(54, 48, 48));
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

body *{
    font-family: "Inter", sans-serif;
    color: white;
}
#container{
    width: 360px;
    padding-top: 56px;
    margin: 56px auto 0px;
    padding: 0 24px;
}
#a{
border: 1px solid white;
}

#perfil{
    padding: 24px;
    text-align: center;
}

#perfil img{
    width: 112px;   
}

#perfil p{
    font-weight: 500px; ;
    line-height: 24px;
     
}

#social{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 24px 0;
    font-size: 26px;
}
#social a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    transition: background 0.2;
}
#social a:hover{
    background: rgba(255, 255, 255, 0.2);
    
}

footer{
    text-align: center;
    padding: 24px 0;
    font-size: 15px;
}


/* lista: */
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a{
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    align-items: center;
    
    /*fundo do  link*/
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    
    text-decoration: none;
    font-weight: 500;

    transition: all 0.2s;
}

ul li a:hover{
background: rgba(255, 255, 255, 0.05);
border: 1.6px solid white ;
}

