*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-position: center;
    }

body *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
#container{
    width: 360px;
    
    padding-top: 56px;
    margin: 56px auto 0px;
}

#perfil{
    padding: 24px;
    text-align: center;
}

#perfil img{
    width: 112px;   
}

#perfil p{
    font-weight: 500px; ;
    line-height: 24px;
     
}
