*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root {
    --text-color: white;
    --bg-gradient: linear-gradient(to right, rgb(0, 0, 0), rgb(54, 48, 48));
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(104, 102, 102, 0.5);
    --highlight-color: rgba(255, 255, 255, 0.2);
}

.light {
    --text-color: black;
    --bg-gradient: linear-gradient(to left, white, rgb(122, 169, 190));
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.1);
    --highlight-color: rgba(0, 0, 0, 0.1);
}

body{
    background-image: var(--bg-gradient);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body *{
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}
#container{
    width: 360px;
    padding-top: 56px;
    margin: 56px auto 0px;
    padding: 0 24px;
}
#a{
    border: 1px solid white;
}

#perfil{
    padding: 24px;
    text-align: center;
}

#perfil img{
    width: 112px;   
}

#perfil p{
    font-weight: 500;
    line-height: 24px;
}

#social{
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 24px 0;
    font-size: 26px;
}
#social a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    transition: background 0.2s;
}
#social a:hover{
    background: var(--highlight-color);
}

#switch{
    position: relative;
    width: 64px;
    margin: 4px auto;
}


#switch button{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0;
    background: white;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#switch button ion-icon{
    font-size: 20px;
    color: #000;
}

#switch button ion-icon[name="sunny"]{
    display: none;
}

.light #switch button ion-icon[name="moon"]{
    display: none;
}

.light #switch button ion-icon[name="sunny"]{
    display: block;
}
.light #switch button{
    left: initial;
    right: 0; 
}

#switch span{
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

footer{
    text-align: center;
    padding: 24px 0;
    font-size: 14px;
}

/* lista: */
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a{
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    align-items: center;
    
    /*fundo do link*/
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 6px;
    
    text-decoration: none;
    font-weight: 500;

    transition: all 0.2s;
}

ul li a:hover{
    background: var(--surface-color-hover);
    border: 1.6px solid var(--text-color);
}